*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
}
body.active{
    color: black;
    display: block;
    background-color: white;
}
::-webkit-scrollbar {
    width: 10px;
}  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A395E9; 
    border-radius: 10px;
}
body{
    background-color: hsla(219,48%,8%,1);
    color: hsla(219, 8%, 75%, 1);
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
    /* height: 200vh; */
}
.first-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 2rem 5px;
    position: fixed;
    top: 0;
    font-size: 16px;
    margin: 0 90px;
    box-shadow: hsla(219,48%,8%,1);    
}
.fa-moon{
    display: flex;
    align-items: center;
    font-size: 16px;
    /* background-color: #b30000; */
    color: #A395E9;
    animation: TopToBottom 1s ease forwards;
}
.fa-sun{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    animation: TopToBottom 1s ease forwards;

}
.name{
    color: #A395E9;
    font-weight: 600;
    transition: all 0.4s ease-in;
    animation: TopToBottom 1s ease forwards;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 25%;
    background-color: hsla(219, 32%, 16%,0.8);
    transition: all 0.4s;
    padding: 12px 18px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    animation: SlideAnimation 1s ease forwards;
}
#icons{
    color: hsla(219,15%,95%,1);
    background: linear-gradient(180deg,hsla(250,66%,75%,0.5),hsla(250,66%,75%,0.2));
    box-shadow: 0 0 16px hsla(250, 66%, 75%,0.4);
    border-radius: 5rem;
    padding: 10px;
    width: 100%;
}
.my-self{
    position: absolute;
    top: 40%;
    left: 50%;
    animation: TopToBottom 3s ease forwards;
}

.text{
    color: rgb(148, 149, 149);
    font-size: 0.95rem;
    animation: SlideAnimation 1s ease forwards;
}
.my-self h1{
    color: #A395E9;
    font-size: 2.5rem;
    font-weight: bold;
    animation: SlideAnimation 1s ease forwards;
}
.my-self h4{
    color: hsla(219,8%,75%,1);
    font-size: 0.875rem;
    animation: SlideAnimation 1s ease forwards;
}
.btn{
    /* margin-top: 30px; */
    align-items: center;
    margin: 30px auto;
    animation: SlideAnimation 1s ease forwards;
}
.btn-1{
    color: #A395E9;
    background: transparent;
    border: 1px solid #A395E9;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.5s ease-in;
}
.btn-1:hover{
    background-color: #A395E9;
    color: #111;
}
.btn-2{
    color: #111;
    background: #A395E9;
    border: 1px solid #A395E9;
    padding: 12px 8px;
    font-weight: bold;
    border-radius: 10px;
}
.btn-2:hover{
    color: #A395E9;
    background: transparent;
    border: 1px solid #A395E9;
    border-radius: 10px;
    transition: 0.5s ease-in;
}
.forImg{
    position: absolute;
    top: 60%;
    left: 42%;   
    width: 230px;
    height: 293px;
    transform: translateX(0px);
    /* animation: SlideAnimation 1s ease forwards; */
    animation: Float 3s ease-out infinite;
}
@keyframes  Float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes SlideAnimation{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.for-bg{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(180deg,hsla(250,66%,75%,0.5),hsla(250,66%,75%,0.1));
    border-radius: 10rem 10rem 1rem 1rem;
}
.underline{
    margin-top: 5px;
    width: 2px;
    height: 40px;
    background-color: #A395E9;
}
.followme{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 80%;
    left: 17%;
    text-decoration: none; 
}
#github{
    background: #111;
    padding: 7px;
    color: #A395E9;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 1s;
}
#github:hover{
    color: #fff;
    text-shadow: #fff;
    background-color: #A395E9;
}
.fa-linkedin{
    background: #111;
    padding: 7px;
    color: #A395E9;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 6px;
    transition: 1s;
}
.fa-linkedin:hover{
    color: #fff;
    text-shadow: #fff;
    background-color: #A395E9;
}
.fa-dribbble{
    background: #111;
    padding: 7px;
    color: #A395E9;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 6px;
    transition: 1s;
}
.fa-dribbble:hover{
    color: #fff;
    text-shadow: #fff;
    background-color: #A395E9;
}

#scroll-btn{
    position: absolute;
    height: 3.5em;
    width: 2em;
    border: 0.5em solid #A395E9;
    top: 80%;
    left: 75%;
    border-radius: 3em;
}
#scroll-btn::before{
    position: absolute;
    content: '';
    margin: auto;
    left: 0;
    right: 0;
    top: 2px;
    height: 12px;
    width: 3px;
    font-weight: bold;
    background: #A395E9;
    animation: movedown 2s infinite;
}
@keyframes movedown{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(20px);
        opacity: 0;
    }
}
#Scroll-text{
    position: absolute;
    top: 95%;
    left: 73.3%;
    transform: rotate(270deg);
    font-size: 15px;
}
.aboutme{
    position: absolute;
    top: 830px;
    left: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-1{
    position: relative;
    right: 60px;
}
.aboutme h3{
    text-align: center;
    color: #A395E9;
    font-weight: bold;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1.2rem;
}
.box1{
    background: hsla(219,32%,12%,1);
    padding: 20px 50px;
    height: 60%;
    color: gold;
    border-radius: 0.75rem;
}
.box2{
    background: hsla(219,32%,12%,1);
    padding: 20px 50px;
    border-radius: 0.75rem;
    height: 60%;
    color: gold;
}
.box3{
    background: hsla(219,32%,12%,1);
    padding: 20px 50px;
    border-radius: 0.75rem;
    height: 60%;
    color: gold;
}
#my-img{
    margin-top: 1.2rem;
    border-radius: 0.75rem;
    width: 30%;
    margin-right: 20px;
}
.para{
    width: 50%;
    text-align: start;
    font-size: 16px;
    position: absolute;
    right: 18%;
    top: 10%;
}
.imgbox{
    display: flex;
}
.two-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
    right: 6%;
}
.two-text h4{
    color: #A395E9;
    font-weight: bold;
    text-align: center;
}
.skill-content{
    background-color: hsla(219,32%,12%,1);
    color: hsla(219, 8%, 75%, 1);
    margin-top: 15%;
    padding: 4rem 5rem;
    position: relative;
    width: 40%;
    height: 50vh;
    border-radius: 1.25rem;
    left: 24%;
    margin-bottom: 20px;
    /* display: flex; */
    /* justify-content: center; */
}
.skill-content-2{
    display: flex;
}
.heading{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.skill-content i{
    margin-right: 10px;
    color: hsla(250,66%,75%,1);
    font-size: 12px;
}
.skill-content .skill-1 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.skills-container {
    display: flex;
}
.skills-column {
    list-style: none;
    flex: 1;
    /* padding: 0; */
    column-gap: 3rem;
    /* text-align: start; */
}
.my-services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.service{
    position: relative;
    right: 13%;
    margin-top: 10%;
}
.service h4{
    color: #A395E9;
    font-weight: bold;
    text-align: center
}
.icons{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    font-size: 65px;
    color: #165E48;
    /* text-shadow: 0px 0px 5px #165E48; */
}
.text-content{
    position: relative;
    right: 6%;
    text-align: center;
    width: 100%;
    margin-top: 45px;
}
.text-content h4{
    color: #A395E9;
    font-weight: bold;
    text-align: center
}
.box-1{
    display: flex;
    flex-direction: column;
    background-color: hsla(219, 32%, 12%,1);
    padding: 1rem;
    border-radius: 1rem;
}
.box-1 h4{
    color: #f0f2f4;
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: start;
}
.box-1 a{
    text-align: start;
    text-decoration: none;
    color: #A395E9;
}
.boxess{
    margin-top: 35px;
    position: relative;
    right: 8%;
    display: flex;
    gap: 3rem;
}
.contactMe{
    position: relative;
    right: 0%;
    justify-content: center;
    margin-top: 50px;
}
.contactMe span{
    font-size: 0.75rem;
    color: hsl(219,4%,55%);
}
.contactMe h3{
    font-size: 1.5rem;

}
.content-box1{
    margin-top: 30px;
    background-color: hsla(219, 32%, 12%);
    padding: 2rem 5rem;
    width: 100%;
    border-radius: 0.75rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}
.content-box1 i{
    font-size: 1rem;
}
.content-box1 a{
    text-decoration: none;
    color: #A395E9;
}
.content-1 h2{
    text-align: center;
    font-size: 1.3rem;
    color: hsl(219,15%,95%);
    text-shadow: 0px 0px 8px #fff;
}
.grid-container-contact{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 375px 340px;
    column-gap: 5rem;
}
.contact-form{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 120px;
    position: relative;
}
.content-2{
    margin-top: 2px;
}
.content-2 h2{
    text-align: center;
    font-size: 1.3rem;
    color: hsl(219,15%,95%);
    text-shadow: 0px 0px 8px #fff;
}
.contact-form .contact-form-input{
    position: absolute;
    width: 110%;
    height: 80px;
    padding: 20px;
    border: 2px solid #888b91;
    background: none;
    border-radius: 0.75rem;
    font-size: 0.938rem;
    color: #babec4;
}
.contact-form .contact-form-label{
    position: absolute;
    top: -15px;
    left: 17px;
    background-color: #0b111e;
    z-index: 10;
    padding: 4px;
}
.contact-form textarea{
    position: absolute;
    width: 110%;
    height: 390px;
    padding: 20px;
    border: 2px solid #888b91;
    background: none;
    border-radius: 0.75rem;
    font-size: 0.938rem;
    color: #babec4;
}
.send-btn{
    position: absolute;
    top: 97%;
    right: 43%;
    padding: 0.75rem 1rem;
    font-weight: 500;
    border-radius: 0.8rem;
    color: #0b111e;
    background-color: #A395E9;
}
.Footer{
    margin-top: 3520px;
    width: 100%;
    height: 55vh;
    background-color: #A395E9;
    padding: 40px;
}
.Footer h2{
    font-size: 1.5rem;
    color: #0b111e;
    font-weight: 750;
}
.lists{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.lists a{
    text-decoration: none;
    color: #0b111e;
    display: flex;
    width: 7%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
#icon{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
#icon a{
    color: #A395E9;
    width: 5%;
    margin-top: 40px;
}
#icon .fa-facebook-f {
    background-color: #0b111e;
    padding: 8px;
    border-radius: 0.25rem;
    font-size: 1rem;
}
#icon .fa-github {
    background-color: #0b111e;
    padding: 8px;
    border-radius: 0.25rem;
    font-size: 1rem;
}
#icon .fa-linkedin-in {
    background-color: #0b111e;
    padding: 8px;
    border-radius: 0.25rem;
    font-size: 1rem;
}
#icon .fa-instagram {
    background-color: #0b111e;
    padding: 8px;
    border-radius: 0.25rem;
    font-size: 1rem;
}
.Footer p{
    color: #0b111e;
    margin-top: 30px;
}
/* keyframes */
@keyframes TopToBottom {
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/* Responsive Side */
@media only screen and (max-width:768px) {
    .sec{
        width: 100%;

    }
   .first-nav{
    position: fixed;
    top: 0;
    background-color: #0b111e;
    width: 50%;
    padding: 20px;
   }
   .my-self{
    position: relative;
   }
   .forImg{
        position: relative;
        top: 130px;
        left: 270px;
        width: 80%;
        height: 50vh;
   }
   
   
}