*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body.active{
    color: black;
    display: block;
    background-color: white;
}
::-webkit-scrollbar {
    width: 10px;
}  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A395E9; 
    border-radius: 10px;
}
body{
    background-color: hsla(219,48%,8%,1);
    color: hsla(219, 8%, 75%, 1);
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
    /* height: 200vh; */
}
.first-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 2rem 5px;
    position: fixed;
    top: 0;
    font-size: 16px;
    margin: 0 90px;
    box-shadow: hsla(219,48%,8%,1);    
}
.fa-moon{
    display: flex;
    align-items: center;
    font-size: 16px;
    /* background-color: #b30000; */
    color: #A395E9;
    animation: TopToBottom 1s ease forwards;
}
.fa-sun{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    animation: TopToBottom 1s ease forwards;

}
.name{
    color: #A395E9;
    font-weight: 600;
    transition: all 0.4s ease-in;
    animation: TopToBottom 1s ease forwards;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 25%;
    background-color: hsla(219, 32%, 16%,0.8);
    transition: all 0.4s;
    padding: 12px 18px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    animation: SlideAnimation 1s ease forwards;
}
#icons{
    color: hsla(219,15%,95%,1);
    background: linear-gradient(180deg,hsla(250,66%,75%,0.5),hsla(250,66%,75%,0.2));
    box-shadow: 0 0 16px hsla(250, 66%, 75%,0.4);
    border-radius: 5rem;
    padding: 10px;
    width: 100%;
}
.my-self{
    position: absolute;
    top: 40%;
    left: 50%;
    animation: TopToBottom 3s ease forwards;
}

.text{
    color: rgb(148, 149, 149);
    font-size: 0.95rem;
    animation: SlideAnimation 1s ease forwards;
}
.my-self h1{
    color: #A395E9;
    font-size: 2.5rem;
    font-weight: bold;
    animation: SlideAnimation 1s ease forwards;
}
.my-self h4{
    color: hsla(219,8%,75%,1);
    font-size: 0.875rem;
    animation: SlideAnimation 1s ease forwards;
}
.btn{
    /* margin-top: 30px; */
    align-items: center;
    margin: 30px auto;
    animation: SlideAnimation 1s ease forwards;
}
.btn-1{
    color: #A395E9;
    background: transparent;
    border: 1px solid #A395E9;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.5s ease-in;
}
.btn-1:hover{
    background-color: #A395E9;
    color: #111;
}
.btn-2{
    color: #111;
    background: #A395E9;
    border: 1px solid #A395E9;
    padding: 12px 8px;
    font-weight: bold;
    border-radius: 10px;
}
.btn-2:hover{
    color: #A395E9;
    background: transparent;
    border: 1px solid #A395E9;
    border-radius: 10px;
    transition: 0.5s ease-in;
}
.forImg{
    position: absolute;
    top: 60%;
    left: 42%;   
    width: 230px;
    height: 293px;
    transform: translateX(0px);
    /* animation: SlideAnimation 1s ease forwards; */
    animation: Float 3s ease-out infinite;
}
@keyframes  Float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes SlideAnimation{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.for-bg{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(180deg,hsla(250,66%,75%,0.5),hsla(250,66%,75%,0.1));
    border-radius: 10rem 10rem 1rem 1rem;
}
.underline{
    margin-top: 5px;
    width: 2px;
    height: 40px;
    background-color: #A395E9;
}
.followme{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 80%;
    left: 17%;
    text-decoration: none; 
}
#github{
    background: #111;
    padding: 7px;
    color: #A395E9;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 1s;
}
#github:hover{
    color: #fff;
    text-shadow: #fff;
    background-color: #A395E9;
}
.fa-linkedin{
    background: #111;
    padding: 7px;
    color: #A395E9;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 6px;
    transition: 1s;
}
.fa-linkedin:hover{
    color: #fff;
    text-shadow: #fff;
    background-color: #A395E9;
}
.fa-dribbble{
    background: #111;
    padding: 7px;
    color: #A395E9;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 6px;
    transition: 1s;
}
.fa-dribbble:hover{
    color: #fff;
    text-shadow: #fff;
    background-color: #A395E9;
}

#scroll-btn{
    position: absolute;
    height: 3.5em;
    width: 2em;
    border: 0.5em solid #A395E9;
    top: 80%;
    left: 75%;
    border-radius: 3em;
}
#scroll-btn::before{
    position: absolute;
    content: '';
    margin: auto;
    left: 0;
    right: 0;
    top: 2px;
    height: 12px;
    width: 3px;
    font-weight: bold;
    background: #A395E9;
    animation: movedown 2s infinite;
}
@keyframes movedown{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(20px);
        opacity: 0;
    }
}
#Scroll-text{
    position: absolute;
    top: 95%;
    left: 73.3%;
    transform: rotate(270deg);
    font-size: 15px;
}
.aboutme{
    position: absolute;
    top: 830px;
    left: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-1{
    position: relative;
    right: 60px;
}
.aboutme h3{
    text-align: center;
    color: #A395E9;
    font-weight: bold;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1.2rem;
}
.box1{
    background: hsla(219,32%,12%,1);
    padding: 20px 50px;
    height: 60%;
    color: gold;
    border-radius: 0.75rem;
}
.box2{
    background: hsla(219,32%,12%,1);
    padding: 20px 50px;
    border-radius: 0.75rem;
    height: 60%;
    color: gold;
}
.box3{
    background: hsla(219,32%,12%,1);
    padding: 20px 50px;
    border-radius: 0.75rem;
    height: 60%;
    color: gold;
}
#my-img{
    margin-top: 1.2rem;
    border-radius: 0.75rem;
    width: 30%;
    margin-right: 20px;
}
.para{
    width: 50%;
    text-align: start;
    font-size: 16px;
    position: absolute;
    right: 18%;
    top: 26%;
}
.imgbox{
    display: flex;
}
.two-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
    right: 6%;
}
.two-text h4{
    color: #A395E9;
    font-weight: bold;
    text-align: center;
}
.skill-content{
    background-color: hsla(219,32%,12%,1);
    color: hsla(219, 8%, 75%, 1);
    margin-top: 15%;
    padding: 4rem 5rem;
    position: relative;
    width: 40%;
    height: 50vh;
    border-radius: 1.25rem;
    left: 24%;
    margin-bottom: 20px;
    /* display: flex; */
    /* justify-content: center; */
}
.skill-content-2{
    display: flex;
}
.heading{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.skill-content i{
    margin-right: 10px;
    color: hsla(250,66%,75%,1);
    font-size: 12px;
}
.skill-content .skill-1 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.skills-container {
    display: flex;
}
.skills-column {
    list-style: none;
    flex: 1;
    /* padding: 0; */
    column-gap: 3rem;
    /* text-align: start; */
}
.text-content{
    position: relative;
    right: 50%;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.text-content h4{
    color: #A395E9;
    font-weight: bold;
    text-align: center
}
.my-services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.service{
    position: relative;
    right: 11%;
    margin-top: 10%;
}
.service h4{
    color: #A395E9;
    font-weight: bold;
    text-align: center
}
.icons{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    font-size: 65px;
    color: #165E48;
    /* text-shadow: 0px 0px 5px #165E48; */
}

/* keyframes */
@keyframes TopToBottom {
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/* Responsive Side */
@media only screen and (max-width:380px) {
    section{
        display: grid;  
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);      
        grid-column-gap: 2px;
        grid-row-gap: 0px;
    }
    .navb{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: static;
        padding: 0;
        width: 100%;
        margin-left: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .first-nav{
        height: 3.5rem;
        position: fixed;
        top: 0;
    }   
    .name{
        font-size: 14px;
        position: relative;
        right: 0px;
    }
    .fa-moon{
        font-size: 15px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    .fa-sun{
        font-size: 15px;
        margin-top: 3px;
    }
    .my-self{
        position: absolute;
        bottom: 10%;
        left: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .my-self h1{
        font-size: 20px;
    }
    .my-self h4{
        font-size: 15px;
    }
    .btn-1{
        margin-bottom: 10px;
        width: 60%;
        padding: 10px 0px;
    }
    .btn-2{
        width: 60%;
        margin-top: 5px;
        padding: 10px;
    }
    .navbar ul{
        position: fixed;
        bottom: 0;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .navbar{
        position: fixed;
        bottom: 0;
    }
    .forImg{
        width: 55%;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 42%;
        top: 70%;
    }
    .followme{
        position: absolute;
        left: 40px;
        top: 85%;
    }
    #scroll-btn{
        position: absolute;
        left: 420px;
        top: 85%;
    }
    #Scroll-text{
        position: absolute;
        top: 78%;
        left: 248px;
        font-size: 15px;
        display: flex;
        width: 100%;
        flex-direction: row;       
    }
    .aboutme{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-1{
        position: relative;
        right: 5%;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        right: 10px;
        gap: 1rem;
        margin-bottom: 15px;
    }
    .box1{
        padding: 3px;
        height: 100%;
    }
    .box2{
        padding: 3px;
        height: 100%;
    }
    .box3{
        padding: 3px;
        height: 100%;
    }
    #my-img{
        width: 90%;
    }
    .imgbox{
        display: flex;
        flex-direction: column;
    }
    .para{
        width: 95%;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 290px;
    }
    .skill-content{
        position: relative;
        /* left: 10px; */
        right: 20px;
        /* width: 100%; */
        height: 60vh;
    }
    .two-text{
        position: relative;
        right: 20px;
        top: 140px;
    }
}

@media (min-width:381px) and (max-width:425px) {
    .navb{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: static;
        padding: 0;
        width: 100%;
        margin-left: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .first-nav{
        height: 3.5rem;
        position: fixed;
        top: 0;
    }   
    .name{
        font-size: 14px;
        position: relative;
        right: 0px;
    }
    .fa-moon{
        font-size: 15px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    .fa-sun{
        font-size: 15px;
        margin-top: 3px;
    }
    .my-self{
        position: absolute;
        bottom: 10%;
        left: 63%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .my-self h1{
        font-size: 20px;
    }
    .my-self h4{
        font-size: 15px;
    }
    .btn-1{
        margin-bottom: 10px;
        width: 60%;
        padding: 10px 0px;
    }
    .btn-2{
        width: 60%;
        margin-top: 5px;
        padding: 10px;
    }
    .navbar ul{
        position: fixed;
        bottom: 0;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .navbar{
        position: fixed;
        bottom: 0;
    }
    .forImg{
        width: 55%;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 35%;
        top: 70%;
    }
    .followme{
        position: absolute;
        left: 40px;
        top: 85%;
    }
    #scroll-btn{
        position: absolute;
        left: 420px;
        top: 85%;
    }
    #Scroll-text{
        position: absolute;
        top: 72%;
        left: 225px;
        font-size: 15px;
        display: flex;
        width: 100%;
        flex-direction: row;       
    }
    .aboutme{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-1{
        position: relative;
        right: 5%;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        right: 10px;
        gap: 1rem;
        margin-bottom: 15px;
    }
    .box1{
        padding: 3px;
        height: 100%;
    }
    .box2{
        padding: 3px;
        height: 100%;
    }
    .box3{
        padding: 3px;
        height: 100%;
    }
    #my-img{
        width: 90%;
    }
    .imgbox{
        display: flex;
        flex-direction: column;
    }
    .para{
        width: 95%;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 290px;
    }
    .skill-content{
        position: relative;
        /* left: 10px; */
        right: 20px;
        /* width: 100%; */
        height: 60vh;
    }
    .two-text{
        position: relative;
        right: 20px;
        top: 140px;
    }
}